<% for (let book of comicBooks) { %>
    <tr>
        <td><%= book.title %> </td>
        <td><input type="button" value="EDIT" onclick="window.location.href='/admin-console/update-book/<%= book.id %>'"></td>
        <td>
            <form action="/books/<%= book.id %>?_method=DELETE" method="post">
                <input type="submit" value="DELETE">
            </form>
        </td>
    </tr>
<% } %>