</div>
<footer class="head-foot">
    <div class="footer-container">
        <div class="head-foot-text footer-text">    
            <h3><b>VISIT US</b></h3>
            CodeSquad Comics<br>
            123 Dorchester Avenue<br>
            Boston, MA, 02124
        </div>
        <div class="head-foot-text footer-text">
            <h3><b>LINKS</b></h3>
            <a href="/">Home</a><br>
            <a href="/about">About</a><br>
            <a href="/login">Login</a>
        </div>
        <div class="head-foot-text footer-text">
            <h3><b>FOLLOW US</b></h3>
            <div class="social-icons">
                <div>
                    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer"><span class="fa-brands fa-facebook fa-xl"></span></a>
                </div>
                <div>
                    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer"><span class="fa-brands fa-instagram fa-xl"></span></a>
                </div>
                <div>
                    <a href="https://twitter.com" target="_blank" rel="noopener no referrer"><span class="fa-brands fa-twitter fa-xl"></span></a>
                </div>
            </div>
        </div>
        <div class="head-foot-text footer-text">
            <h3><b>A PRODUCT OF</b></h3>    
        <a href="https://codesquad.org" target="_blank" rel="noopener noreferrer"><img class="foot-img" alt="CodeSquad.org" src="/images/CodeSquad-logo-b.png"></a>
        </div>
    </div>       
</footer>
</body>
</html>