<nav class="head-foot">
    <a href="/"><img class="head-img" alt="CodeSquad Comics" src="/images/CodeSquad-Comics-logo.png"></a>
    <br>
    <div class="head-foot-text">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register">REGISTER</a></li>
        </ul>
    </div>
    <div class="hburg-menu">
        <i class="fa fa-bars"></i>
    </div>
</nav>
<div class="container">