<%- include('../partials/head') -%>
<%- include('../partials/nav') -%>
    <h1><b>ABOUT CODESQUAD COMICS</b></h1>
    <article>
    CodeSquad Comics is a collection of graphic novels read by Prateek Poddar. Copyrighted images are used for review purposes only. Meta information about this collection can be found below. A detailed list of all the graphic novels in this collection can be found on the homepage. Additional details about each comic book, including the author, genre, number of pages, and a brief synopsis, can be found by navigating to the homepage and clicking the image of the book cover or the Details link for the desired graphic novel.
    </article>
    <h2><b>COLLECTION DETAILS</b></h2>
    <ul>
        <li>total comic books: 12</li>
        <li>latest additions: 12</li>
        <li>5-star ratings: 6</li>
        <li>publishers: 9</li>
    </ul>
</div>
<%- include('../partials/footer') -%>